.league-table {
  th,
  td {
    font-size: .8rem;
    padding: 1rem .2rem;
    text-align: center;
    width: 5%;
  }

  th {
    border: 0;
  }
  .team-name-long,
  .team-name-short {
    font-family: $site-font-header;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }

  .team-name-short {
    display: none;
    visibility: hidden;
  }

  .empty-td {
    border-bottom: 0 !important;
  }
}

.smaller-table-section {
  .league-table {
    th,
    td {
      font-size: .8rem;
      padding: 1rem .2rem;
      text-align: center;
      width: 5%;
    }
    th {
      border: 0;
    }
    .team-name-long {
      display: none;
      visibility: hidden;
    }

    .team-name-short {
      display: block;
      visibility: visible;
    }

    .team-name-short {
      text-align: left;
    }

    .empty-td {
      border-bottom: 0 !important;
    }
  }
}